@use "./base";
@use "./components";
@use "./pages";
@use "./utils";
@use "./layout";

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  pointer-events: none;
  flex-shrink: 0;
  color: inherit;
  fill: currentColor;
  stroke: currentColor;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

Link {
  outline: none;
}
