@use "../base/variables" as vars;

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-nowrap {
  white-space: nowrap;
}

.card {
  border-radius: 4px;
  border: 1px solid var(--color-secondary-60);
  box-shadow: var(--shadow-default);
  padding: var(--spacing-lg);

  @media (max-width: vars.$media-query-sm) {
    padding: var(--spacing-base);
  }
}
