@use "./button";
@use "./input";
@use "./drop-down";
@use "./select";
@use "./date-picker";
@use "./sheet";
@use "./table";
@use "./chips";
@use "./pagination";
@use "../../utils";

.element-content {
  @extend .hide-scrollbar;
  min-width: 200px;
  max-height: 65dvh;
  height: fit-content;
  overflow-y: scroll;
  position: relative;
  z-index: 9999;
  width: 100%;
  background-color: var(--color-surface);
  border-radius: 4px;
  padding: var(--spacing-md);
  box-shadow: var(--shadow-default);
  border: 1px solid var(--color-gray-40);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  transition: background-color 0.3s ease;
}

.element-content[data-side="top"],
.element-sub-content[data-side="top"] {
  animation-name: slideDownAndFade;
}
.element-content[data-side="right"],
.element-sub-content[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.element-content[data-side="bottom"],
.element-sub-content[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.element-content[data-side="left"],
.element-sub-content[data-side="left"] {
  animation-name: slideRightAndFade;
}

.element-item {
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1;
  color: var(--color-gray-900);
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
  min-height: 24px;
  padding: var(--spacing-md);
  position: relative;
  user-select: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  gap: var(--spacing-xs);

  svg {
    pointer-events: none;
    flex-shrink: 0;
    color: inherit;
    fill: currentColor;
    stroke: currentColor;
    width: 16px;
    height: 16px;
  }
}

.element-item:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary-light) !important;
}

.element-item[data-disabled] {
  color: inherit;
  pointer-events: none;
}

.element-item[data-highlighted] {
  background-color: var(--color-primary-light);
  color: var(--color-secondary);
}

.element-error {
  margin: 0;
  font-size: var(--font-size-sm);
  line-height: 1.2;
  color: var(--color-error);
  font-weight: 500;
}

.element-label {
  margin-bottom: 1px;
  font-size: var(--font-size-sm);
  line-height: 1.2;
  color: var(--color-gray-900);
  font-weight: 500;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
