.date-picker-field {
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  &::-moz-calendar-picker-indicator {
    display: none;
  }

  &::-webkit-datetime-edit {
    padding: 0;
  }

  &::-webkit-datetime-edit-text,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field {
    color: var(--color-gray-900);
  }

  &:focus::-webkit-datetime-edit-month-field,
  &:focus::-webkit-datetime-edit-day-field,
  &:focus::-webkit-datetime-edit-year-field {
    color: var(--color-gray-900);
    background: var(--color-secondary-60);
  }

  &::-webkit-datetime-edit-month-field:focus,
  &::-webkit-datetime-edit-day-field:focus,
  &::-webkit-datetime-edit-year-field:focus {
    background-color: transparent;
    outline: none;
    text-decoration: none;
  }

  .date-picker-icon {
    pointer-events: none;
    color: var(--color-gray-600);
    transition: color 0.2s ease;
  }

  .input.is-disabled .date-picker-icon {
    color: var(--color-gray-400);
  }

  .input.is-invalid .date-picker-icon {
    color: var(--color-error);
  }
}
