/* reset */
button {
  all: unset;
}

.dropdown-menu-sub-trigger[data-state="open"] {
  background-color: var(--color-primary-light);
  color: var(--color-secondary);
}

.dropdown-menu-label {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--color-gray-900);
}

.dropdown-menu-separator {
  height: 1px;
  background-color: var(--color-gray-150);
  margin: 5px;
}

.dropdown-menu-item-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu-arrow {
  fill: white;
}

.icon-button {
  font-family: inherit;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-900);
  background-color: white;
  box-shadow: 0 2px 10px var(--shadow-default);
}
.icon-button:hover {
  background-color: var(--color-gray-900);
}
.icon-button:focus {
  box-shadow: 0 0 0 2px black;
}

.right-slot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--color-gray-900);
}
[data-highlighted] > .right-slot {
  color: white;
}
[data-disabled] .right-slot {
  color: var(--mauve-8);
}

