@use "../../base/variables" as vars;

.header {
  width: 100%;
  height: vars.$header-height;
  background-color: var(--color-surface);
  box-shadow: var(--shadow-bottom);
  position: absolute;
  top: 0;
  padding-right: var(--spacing-pg);
  display: flex;
  align-items: center;
  z-index: 50;
}

.header-logo-wrapper {
  padding-left: var(--spacing-pg);
  width: vars.$side-nav-wrapper;
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: vars.$media-query-lg) {
    width: fit-content;
    padding-right: var(--spacing-pg);
  }
}

.header-logo-wrapper .logo {
  @media (max-width: vars.$media-query-lg) {
    display: none;
  }
}

.header-logo-wrapper .btn {
  color: var(--color-secondary);

  @media (min-width: vars.$media-query-lg) {
    display: none;
  }
}

.header-end-content {
  margin-left: auto;
  padding-left: var(--spacing-base);
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);

  @media (max-width: vars.$media-query-md) {
    gap: var(--spacing-base);
  }
}

.header-end-content .btn {
  color: var(--color-secondary);
  font-size: var(--spacing-base);
  width: fit-content;
}

.header-btn-docs {
  margin: 0px var(--spacing-lg);

  @media (max-width: vars.$media-query-md) {
    margin-right: var(--spacing-md);
  }
}

.header-end-content .header-user > p,
.header-end-content .header-user > svg {
  @media (max-width: vars.$media-query-md) {
    display: none;
  }
}
