:root {
  --color-primary: #39cdcc;
  --color-primary-light: #39cdcc0f;

  --color-secondary: #213f7d;
  --color-secondary-160: #213f7d29;
  --color-secondary-60: #213f7d0f;
  --color-secondary-100: #213f7d1a;

  --color-gray-40: #545f7d0a;
  --color-gray-60: #545f7d0f;
  --color-gray-100: #545f7d26;
  --color-gray-150: #545f7d26;
  --color-gray-200: #545f7d33;
  --color-gray-600: #545f7d99;
  --color-gray-900: #545f7d;

  --color-surface: #ffffff;
  --color-surface-mid: #fbfbfb;

  --color-pink: #df18ff;
  --color-purple: #5718ff;
  --color-bright-orange: #f55f44;
  --color-yellow: #e9b200;
  --color-pink-red: #ff3366;
  --color-green: #39cd62;
  --color-error: #ef4444;

  --shadow-default: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  --shadow-bottom: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  --shadow-right: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
}

.shadow-default {
  box-shadow: px 5px 20px 0px rgba(0, 0, 0, 0.04);
}
