:root {
  --color-primary: #39cdcc;
  --color-primary-light: #39cdcc0f;
  --color-secondary: #213f7d;

  --color-gray-40: #545f7d0a;
  --color-gray-100: #545f7d26;
  --color-gray-150: #545f7d26;
  --color-gray-600: #545f7d99;
  --color-gray-900: #545f7d;

  --color-surface: #ffffff;
  --color-surface-mid: #fbfbfb;
  --color-error: #ef4444;

  --shadow-default: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
}

.shadow-default {
  box-shadow: px 5px 20px 0px rgba(0, 0, 0, 0.04);
}
