:root {
  --font-family-base: var(--font-avenir-next, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;

  --line-height-base: 1.5;

  --letter-spacing-sm: 0.1em;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.letter-spacing-normal {
  letter-spacing: normal !important;
}

.letter-spacing-sm {
  letter-spacing: var(--letter-spacing-sm);
}
